body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    background-image: url(./images/torshov-image.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    height: 343px;
    text-align: center;
}

#heading {
    background-color: #1D3557;
    margin-top: auto;
    border-radius: 10px;
    padding: 5px;
}

#comment {
    background-color: #457B9D;
    margin-bottom: auto;
    border-radius: 10px;
    width: 412px;
}

.activity {
    width: 720px;
    height: 378px;
    background-color: #F1FAEE;
    text-align: center;
    padding-top: 10px;
}

.pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.theatre {
    width: 198px;
    height: 227px;
    font-size: 16px;
}

.park {
    width: 198px;
    height: 227px;
    font-size: 16px;
}

.sports {
    width: 198px;
    height: 227px;
    font-size: 16px;
}

.card-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 394px;
}

.card-container {
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8DADC;
    width: 400px;
    height: 294px;
    border-radius: 10px;
    border-bottom: solid 3px black;
    /* margin-top: 20px; */
}

.card-text >p {
    font-weight: bolder;
}